body{
  margin: 0;
}
.head{
  text-shadow: 0 0 25px rgba(0,0,0,0.85);
  color: white;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: url('ducky2.jpg') no-repeat;
  background-size: 100%;
}
.logo, .tagline{
  text-align: center;
}
.logo{
  font-size: 13vw;
  margin: 0;
  }
.tagline{
  font-size: 3vw;
  font-weight: 200;
}
.signup{
  text-align: right;
}
.explore{
  text-align: left;
}
.first-head-btn{
  padding-right: 10px;
}
.second-head-btn{
  padding-left: 10px;
}
.post-link{
  text-align: center;
}
.promoted{
  margin: 30px auto 0 auto;
  text-align: center;
  width: 80%;
  padding: 2em 0 2em 0;
  font-size: 5vw;
}
.btn-signup, .btn-explore{
  font-size: 2vw;
  font-weight: 200;
  border: none;
  background: rgba(243, 156, 18,1.0);
  color: white;
  height: 50px;
  width: 20%;
}
.item{
  min-height: 200px;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
}
.title{
  padding-left: 10px;
}
.info{
  display: none;
}